body{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 40px;
}
p{
    font-size: 18px;
    line-height:150%;
}
.name-highlight{
    color: rgb(255, 115, 0);
}
.half-width{
    width:40%;
    float: left;
    margin-left:5%;
    padding-left:2%;

}
.half-width img{
    width:100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link{
    text-decoration: none;
}
#button{
    background-color:rgb(255, 115, 0);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    background-image:linear-gradient(45deg, salmon,tomato);
}
.dream-area{
    background-image:url("images/img3.png");
    background-repeat: no-repeat;
    background-position: right;

}
h3{
    color:rgb(255, 115, 0);
}
.experiences{
    background-color: rgb(252, 243, 243);
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    height: 60%;
    
  
}
#h1{
    margin-left: 5%;
}
.experiences-area{
    background-image: url("images/img4.png");
    background-repeat: no-repeat;
    background-position: left;
    float:left;
}
#left-border{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(252, 2, 85),rgba(231, 4, 252, 0.849));
    border-image-slice: 1;
}
#right-border{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, cyan,rgb(71, 74, 255));
    border-image-slice: 1;
}
footer P{
    text-align: center;
    font-size: 10px;
    color:grey;
    clear: both;
}